
.JoinOurCommunity{
    background-image: url('../../assets/images/Pages/Services/Services2/map.png');
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 500px;
    width: 500;
}